body {
  @apply font-nunito;
}

.container {
  @apply mx-auto max-w-1290 px-16;
}

.button {
  @apply px-20 py-8 bg-cyan rounded-small text-white transition duration-300 cursor-pointer;
  @apply hover:bg-dark-cyan;
  &:disabled {
    @apply bg-grey cursor-not-allowed;
  }
}

.button--white {
  @apply bg-white border-2 border-solid border-grey text-black;
  @apply hover:bg-white hover:border-cyan;
}

.button--icon {
  @apply flex justify-center items-center gap-10;
  svg {
    @apply w-30 h-30;
  }
}

input[type=text],
input[type=email],
input[type=password] {
  @apply py-8 px-10 w-full border-2 border-grey rounded-small;
}

a {
  @apply transition duration-300 hover:text-cyan;
}

.link {
  @apply inline-block w-fit transition duration-300 cursor-pointer hover:text-cyan;
}
